.row{
	max-width:70.5rem!important;}
.site-header{
	div.background{
		opacity: 0.5;
	}
}
#intro-video{
	.entry-title{
		h2{
			display:none;
		}
	}
}
.sub_title{
	padding-top:2.0em;
}

h2.title{
	display:none;
}